body{
    margin: 0px;
    font-family: Metropolis,"Source Sans","Myriad Pro",Arial,sans-serif;
    color: white
}
body, #app, #mainWrapper{
    /* height: 100%; */
    height: -webkit-fill-available;
    width: 100%;
}
html{
    min-height: fit-content;
    height: -webkit-fill-available;
    width: 100%;
    background: #bfc0c0;
}
#app{
    display: flex;
    flex-direction: column;
}


